$primary: #ffffff;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #222;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #a1a1a1;
$on-secondary: #fff;

$highlight: #fa4141;
$fmheader: rgba(0, 0, 0, 0.8);
$footer-bg: #f5f5f7;
// $fmheader: linear-gradient(90deg, #c02d28, #e66225);
