@import "../../theme/theme";

.rust {
  border: 1px solid tomato;

  //flex: 1;
  //display: grid;
  //align-self: center;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 10px;
  //gap: 10px;

  // border: 5px solid green;
  //align-items: center;
  // display: flex;
  //justify-content: center;
  // align-items: center;

  // width: 100vw;
  // height: 80vh;

  background: $primary;
  color: $on-secondary;
  font-family: $core-font;
}
